@model Elearning.Models.Course;

@{
    Course newCourse= new();
    ViewData["text"] = ViewBag.Message;
}

<div class="container mt-4">
    <h2>Fill the Course Details Below</h2>
    <form asp-controller="Course" asp-action="AddCourseDetail" method="post">

        <div class="form-group mb-3">
            <label asp-for="Title" class="form-label">Title:</label>
            <input asp-for="Title" class="form-control" required>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Description" class="form-label">Description:</label>
            <input asp-for="Description" class="form-control" required>
        </div>


        <br />
        <div class="form-group">
            <input type="submit" value="Insert" class="btn btn-primary" />
            <a class="btn btn-danger" asp-controller="Course" asp-action="CourseView">Cancel</a>
        </div>
        <br />
    </form>
</div>
<br />
<p id="alert">
    @ViewBag.Message
</p>

<script>
    // Hide alert after 3 seconds
    setTimeout(function () {
        document.getElementById("alert").style.display = "none";
    }, 3000);
</script>
